@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-neon {
    color: #CCFF00;
    text-shadow: 0 0 10px rgba(204, 255, 0, 0.5);
  }
  .bg-neon {
    background-color: #CCFF00;
  }
  .border-neon {
    border-color: #CCFF00;
  }
}
